<br><br>
<div style="text-align: center; color: azure; background-color: black;">
    MADE WITH ❤️ BY <a href="//JAYADEEP KHETRI.com" target="_blank">JAYADEEP KHETRI</a>
    <!-- An Open Source Project -->
</div>

<br><br>